.shimage {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
}
.shimage img {
  border-radius: 10px;
}

.card {
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 30px; /* 5px rounded corners */
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add rounded corners to the top left and the top right corner of the image */
.card img {
    border-radius: 30px;
}

.grid {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px 20px;
  grid-auto-rows: minmax(auto, auto);
}

@media screen and (min-width: 64em){
    .card {
      width: 250px;
      height: 250px;
    }
    .card img {
      width: 250px;
      height: 250px;
    }
}
@media screen and (min-width: 42em) and (max-width: 64em){
  .card {
    width: 150px;
    height: 150px;
  }
  .card img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 42em) and (min-width: 20em){
  .card {
    width: 100px;
    height: 100px;
  }
  .card img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 20em){
  .card {
    width: 50px;
    height: 50px;
  }
  .card img {
    width: 50px;
    height: 50px;
  }
}
